{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href='{% static "css/main.css" %}' rel = "stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container portfolio-section">
        <div class="row">
          <div class="col-md-12">
            <h1>Portfolio</h1>
            <p>Amanda de Oliveira Laurindo</p>
          </div>
        </div>
    
        <div class="row">
          <!-- Photo Section -->
          <div class="col-md-6">
            <div class="portfolio-card d-flex justify-content-center align-items-center">
                <img src="{% static 'images/Am.png' %}">
            </div>
          </div>
    
          <!-- About Section -->
          <div class="col-md-6">
            <div class="portfolio-card d-flex justify-content-center align-items-center">
              <div>
                <h4>Who am I?</h4>
                <p>Currently I am a 19 yo Computer Science Major</p>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
          <!-- Contact Section -->
          <div class="col-md-6">
            <div class="portfolio-card d-flex justify-content-center align-items-center">
              <div>
                <h4>Contacts</h4>
                <p>Instagram</p>
                <p>Github</p>
                <p>E-mail</p>
              </div>
            </div>
          </div>
    
        <!-- Education/Experience Section -->
        <div class="col-md-6">
          <div class="portfolio-card d-flex justify-content-center align-items-center">
            <div>
              <h4>Education/Experience</h4>
              <h6>Currently learning C#, Python and JavaScript, did some projects using Node.js, Windows Forms, JWT,
                Django and others
                Did a 20h workshop in PC building and maintenance, also a 2 year intership as an assistent of IT where
                I fixed computers and 
              </h6>
            </div>
          </div>
        </div>
      
        <div class="row">
          <!-- Languages Section -->
          <div class="col-md-auto">
            <div class="portfolio-card d-flex justify-content-center align-items-center">
              <div>
                <h4>Languages</h4>
                <p>Portuguese - Native</p>
                <p>English - Fluent</p>
                <p>Spanish - Intermediary</p>
                <p>French - Basic</p>
              </div>
            </div>
          </div>    
      </div>
      </div>
    
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>